<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="text-align: center">Thêm Sản Phẩm</h1>
<div class="container" style="margin-top: 50px;">
    <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 auto; padding: 20px;">
        <div class="col-sm-12">
            <h3>Thêm Sản Phẩm</h3>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            <form action="#" th:action="@{/addSP}" th:object="${sanpham}" method="post">
                <div class="form-group">
                    <label>TenSp</label>
                    <input type="text" th:field="*{tenSp}" class="form-control" placeholder="TenSP">
                </div>
                <div class="form-group">
                    <label>quycach</label>
                    <input type="number" th:field="*{quyCach}" class="form-control">
                </div>
                <div class="form-group">
                    <label>giagoc</label>
                    <input type="number" th:field="*{giaGoc}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>