<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">Hello các bạn</h1>
<div><a th:href="@{/ViewSP}"> Xem Sản Phẩm</a>
    <a th:href="@{/addSP}"> Thêm Sản Phẩm</a>
    <a th:href="@{/search}"> Tìm Kiếm Sản Phẩm</a>
</div>
<div>
    <a th:href="@{/ViewKH}">Xem Khach Hang</a>
    <a th:href="@{/addKH}">Thêm Khach Hang</a>
    <a th:href="@{/searchkh}">Tìm Kiếm Khach Hang</a>
    <a th:href="@{/addMoney}">Nộp tiền</a>
</div>
</body>
</html>