<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="${session.admin}"></p>
    <a th:href="@{/logout}" th:text="${logout}"></a></br>
    <a th:href="@{/ViewSP}"> Xem Sản Phẩm</a></br>
    <a th:href="@{/addSP}"> thêm Sản Phẩm</a></br>
    <a th:href="@{/ViewKH}">Xem Khach Hang</a></br>
    <a th:href="@{/addKH}">Thêm Khach Hang</a></br>
    <a th:href="@{/searchkh}">Tìm Kiếm Khach Hang</a></br>
    <a th:href="@{/addMoney}">Nộp tiền</a></br>
    <a th:href="@{/ViewLich}">Xem Lịch Bán Hàng</a></br>
</div>
</body>
</html>