<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="text-align: center">Search Sản Phẩm</h1>
<div class="container" style="margin-top: 50px;">
    <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 auto; padding: 20px;">
        <div class="col-sm-12">
            <h3>Search Sản Phẩm</h3>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            <form action="#" th:action="@{/search}" th:object="${sanpham}" method="post">
                <div class="form-group">
                    <label>Nhập Mã Sản Phẩm:</label>
                    <input th:name="maSp" type="text" class="form-control" placeholder="Mã Sản Phẩm">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">MASP</th>
                <th scope="col">TENSP</th>
                <th scope="col">QUYCACH</th>
                <th scope="col">GIAGOC</th>
                <th scope="col">Mua</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sanpham:${sanpham}">
                <td th:text="${sanpham.maSp}"></td>
                <td th:text="${sanpham.tenSp}"></td>
                <td th:text="${sanpham.quyCach}"></td>
                <td th:text="${sanpham.giaGoc}"></td>
                <td>
                    <a th:style="${hiddenlogin}" th:text="${login}" th:href="@{/login}"></a>
                    <input th:style="${hidden}" name="maSp"
                           type="checkbox" th:value="${sanpham.maSp}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>