<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top: 50px;">
    <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 auto; padding: 20px;">
        <div class="col-sm-12">
            <h3>View Sản Phẩm</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">MASP</th>
                    <th scope="col">TENSP</th>
                    <th scope="col">QUYCACH</th>
                    <th scope="col">GIAGOC</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sanpham:${sanpham}">
                    <td th:text="${sanpham.maSp}"></td>
                    <td th:text="${sanpham.tenSp}"></td>
                    <td th:text="${sanpham.quyCach}"></td>
                    <td th:text="${sanpham.giaGoc}"></td>
                    <td><a th:href="@{/delete?masp={masp}(masp=${sanpham.maSp})}">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{/update/{masp}(masp=${sanpham.maSp})}">Edit</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>